/*------------------------------------ENTETE-----------------------------------*/

/** Sprites **/
#navigation, #navigation li.selected a, #navigation li a:hover, .blog h2, .frame, .heading1, .heading2, #blog .list li {
    background: url(../images/interface.png) no-repeat;
}
.box, .box > div, .box > div > div {
    background-image: url(../images/bg-contentbox.png);
    background-repeat: no-repeat;
}
.box2, .box2 > div {
    background-image: url(../images/bg-sidebar.png);
    background-repeat: no-repeat;
}
#connect a, .archives > li > span {
    background: url(../images/icons.png) no-repeat;
}
.more:hover, #connect a:hover {
    filter:alpha(opacity=80);
    opacity:0.8;
}
.frame {
    background-position: right bottom;
    height: 216px;
    width: 268px;
    margin: 0 0 12px -7px;
    padding: 12px 13px 14px;
}
.heading1, .heading2 {
    background-position: -258px -60px;
    height: 54px;
    line-height: 54px;
    width: 240px;
    margin: 0 auto;
    text-align: center;
    text-shadow: 0 1px #fff;
}
.heading2 {
    background-position: right -60px;
    height: 45px;
    line-height: 45px;
    width: 440px;
}
/** header **/
#header {
    background: url(../images/bg-header.png) repeat-x left top;
    height: 140px;
    text-align: right;
}
/** logo **/
#logo {
    float: left;
    margin: 40px 0 0;
}
/** navigation **/
#navigation {
    background-position: right top;
    display: inline-block;
    height: 45px;
    list-style: none;
    width: 500px;
    margin: 95px 0 0;
    padding: 0 30px;
}
#navigation li {
    float: left;
    width: 124px;
    margin: 0;
    text-align: center;
}
#navigation li a {
    color: #6E0B14;
    display: block;
    font: 14px/50px Arial, Helvetica, sans-serif;
    height: 50px;
    width: 124px;
    text-decoration: none;
    text-shadow: 0 1px #fff;
}
#navigation li a p {
    color: #ffffff;
    display: block;
    font: 14px/50px Arial, Helvetica, sans-serif;
    height: 50px;
    width: 124px;
    text-decoration: none;
    text-shadow: 0 1px #fff;
}
#navigation li.selected a, #navigation li a:hover {
    background-position: left top;
}
/**------------------------------------------ CONTENT -------------------------------------------**/
#contents {
    min-height: 1010px;
    padding-top: 45px;
    background-image:url(/IENAC15/aman_begaud_gaulmin_thirion/images/newyork.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}
#contents div.area:after {
    clear:both;
    content:"";
    display:block;
    height:1%;
    line-height:0;
    visibility:hidden;
}
h2, h3 {
    color: #2f2203;
    font: 24px/24px 'Abel-Regular';
    letter-spacing: 1px;
    margin: 0 0 6px;
    text-transform: uppercase;
}
h2 span {
    color: #fc6700;
}
h3 {
    font-size: 20px;
    margin: 0;
    text-transform: none;
}
p {
    color: #9b8d84;
    font: 12px/24px Arial, Helvetica, sans-serif;
    padding: 0 0 24px;
    margin: 0;
}
p a {
    color: #9b8d84;
}
h3 a:hover, p a:hover {
    color: #f1aa00;
}
p a:hover {
    text-decoration: underline;
}
/**----------------------------------------- TITRE -------------------------------------------------**/
#titre {
    margin: 50px 0 0;
    margin-bottom: 70px;
}
#titre h1 {
    text-transform:uppercase;
    font-weight:700;
    color:#6E0B14;
    font-size:2.5em;
    letter-spacing:15px;
    text-shadow:0.05em;
    padding:40px 0;
    text-align: center;
}
#titre h2 {
    text-transform:uppercase;
    font-weight:600;
    color:#6E0B14;
    font-size:1.5em;
    letter-spacing:7px;
    text-shadow:0.05em;
    text-align: center;
}
/*-------------------------------RECHERCHE----------------------------*/
section {
    background-repeat:no-repeat;
    background-size:cover;
    border-top:2px solid #a0a0a0;
    border-bottom:2px solid #a0a0a0;
    margin:10px 50px;
    margin-left:30px;
    margin-right:30px;
    padding-bottom :60px;
    text-align:center;
    max-width:100%;
}

#itinéraire {background-image:url(/IENAC15/aman_begaud_gaulmin_thirion/images/fond_map.jpg);}

#itinéraire h2 {
    text-transform:uppercase;
    font-weight:600;
    color:white;
    font-size:1.5em;
    letter-spacing:7px;
    text-shadow:0.05em;
    text-align: center;
    margin: 30px 0 0;
}
#trajet {
    margin: 20px 340px 0;
}
#global {
    margin-left: auto;
    margin-right: auto;
    width:10em;
    display:inline-block;
    margin: 30px 0 0;
    color:#424380;
}

#global1 {
    margin-left: auto;
    margin-right: auto;
    width:20em;
    display:inline-block;
    margin: 30px 0 0;
    color:#424380;
}
#global p {
    font-weight: 600;
    color: #424380;
    text-transform: uppercase;
}

#global1 p {
    font-weight: 600;
    color: #424380;
    text-transform: uppercase;
}
/*------------------------------ Commentaire ------------------------*/
#contents
{
    margin: 0 0 0;
}

#contacter h2
{
    text-transform:uppercase;
    font-weight:600;
    color:white;
    font-size:1.5em;
    letter-spacing:7px;
    text-shadow:0.05em;
    text-align: center;
    margin: 30px 0 0;
}


/*-------------------------------tableau-----------------------------*/
#tableau2{margin-top:50px;}
/*------------------------------ FOOTER ------------------------------*/
#footer {
    background: url(../images/bg-footer.png) repeat left top;
    display: inline-block;
    width: 100%;
    padding: 20px 0;
    margin: 20px 0;
}
#footer p {
    text-align: center;
    color: #2f2203;
    font: 12px/24px Arial, Helvetica, sans-serif;
    margin: 0;
    text-shadow: 0 1px #fff;
}
/*----------------------------- CONTACTS ---------------------------*/
#concepteur h2 {
    text-transform: uppercase;
    font-weight: 600;
    color: #6E0B14;
    font-size: 1.5em;
    letter-spacing: 7px;
    text-shadow: 0.05em;
    text-align: center;
    margin:30px 0 0;
}
#concepteur div {
    display: inline;



}
#contacter {
    margin: 20px 0 0;
    text-align: center;
}
#contacter h2 {
    text-transform:uppercase;
    font-weight:600;
    color:#ec971f;
    font-size:1.5em;
    letter-spacing:7px;
    text-shadow:0.05em;
    text-align: center;
}
/*---------------------------- CV ------------------------------------*/
#profil {
    float: right;
    margin: 20px 30px 0;
}
#contact-info h1 {
    font-size: 40px;
    margin: 10px 0 0;
}
#contact-info p {
    font-size: 15px;
    margin: 10px 30px 0;
}
#cv-title {
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0 0;
}
#objective p {
    color: black;
    font-size: 20px;
    margin: 30px 10px 0;
}